header {
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: #ffffff;

    &.active
     {
        #nav-icon1.open {
            transform: translateY(-0px);
        }
        box-shadow: 0 0 1rem #d7d7d7;

        .container_nav {
            padding: 1rem 0;
        }
    }
}

.container_nav {
    max-width: 1440px;
    padding: 4rem 0;
    margin: auto;
    transition: all 0.5s ease;
    @include mq("tablet", max) {
        padding: 1rem 0;
        height: 75px;
    }
}

h1 {
    font-size: 62px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    @include mq("desktop-small", max) {
        font-size: 2.7rem;
    }
    @include mq("tablet", max) {
        font-size: 2rem;
        text-align: center;
    }
    @include mq("phone", max) {
        font-size: 1.7rem;
    }
}

h2 {
    @include mq("desktop-small", max) {
        font-size: 2.3rem;
        text-align: center;
    }
    @include mq("tablet-mid", max) {
        font-size: 2rem;
    }
    @include mq("tablet", max) {
        font-size: 2.2rem;
    }
    @include mq("phablet", max) {
        font-size: 1.8rem;
    }
}

h5 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 60px;
    @include mq("desktop-small", max) {
        font-size: 1.2rem;
    }
}

// -----------------------------------------------.hamburger-menu---------------------------------------

body {
    &.modal-open {
        overflow: hidden;
    }
}


.hamburger-menu {
    background: #fff;
    position: fixed;
    overflow: hidden;
    top: -150px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 15;
    transition: all 0.5s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    .mt-4 {
        @include mq("desktop-small", max) {
            margin-top: 1rem !important;
        }
    }
    .telephone {
        padding-bottom: 10px;
    }
    li {
        padding: 5px 0px;
        @include mq("desktop-small", max) {
            padding: 5px 0px;
        }
    }
    a {
        font-size: 1.6rem;
        font-weight: 600;
        color: rgb(1, 1, 1);

        &:hover {
            text-decoration: underline;
        }
        &.number {
            font-size: 20px;
            color: rgb(1, 1, 1);
            @include mq("desktop-small", max) {
                font-size: 1rem;
            }
            @include mq("tablet-mid", max) {
                font-size: 1rem;
            }
            @include mq("phablet", max) {
                font-size: 1rem;
            }
        }
        @include mq("desktop-small", max) {
            font-size: 1.2rem;
        }
        @include mq("tablet-mid", max) {
            font-size: 1rem;
        }
        @include mq("tablet", max) {
            font-size: 1rem;
        }
    }

    .container {
        display: flex;
        @include mq("tablet", max) {
            display: block !important;
        }
    }
    .row {
        @include mq("tablet", max) {
            display: flex;
            flex-direction: row;
        }
    }

    p {
        color: rgba(1, 1, 1, 0.502);
        @include mq("desktop-small", max) {
            font-size: 0.8rem;
            margin-bottom: 0.1rem;
        }
        @include mq("phablet", max) {
            font-size: 0.8rem;
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
        top: 0;
        overflow-y: auto;
        
    }
}

.my-navbar {
    display: flex;
}
.hamburger-menu .col-md-3 {
    flex-direction: column;
    justify-content: space-between;

    &.o-1 {
        @include mq("tablet", max) {
            order: 1;
        }
    }
    &.o-2 {
        @include mq("tablet", max) {
            order: 2;
        }
    }
    &.o-3 {
        @include mq("tablet", max) {
            order: 3;
        }
    }
    .social {
        @include mq("tablet", max) {
            padding: 45px 0;
        }
    }
}

.hamburger-menu .container.d-flex {
    height: 100%;
    padding-top: 60px;
}

.nav {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

    li {
        margin-right: 20px;
        padding: 10px;
        &.dn {
            @include mq("desktop-small", max) {
                display: none;
            }
        }
        &:last-child:hover {
            cursor: pointer;
        }
    }
    a {
        font-size: 1.25rem;
        @include mq("tablet", max) {
            font-size: 1rem;
        }
    }
    .hide {
        @include mq("tablet", max) {
            display: none;
        }
    }
}

#nav-icon1 {
    width: 32px;
    height: 7px;
    position: relative;
    padding: 15px;
    z-index: 20;
    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 20px;

    // &.open {
    //     // transform: translateY(-30px);
    // }

}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    padding: 5px;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 12px;
    padding: 2px;
}

#nav-icon1 span:nth-child(2) {
    top: 15px;
    padding: 2px;
    display: none;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
    padding: 2px;
}

#nav-icon1.open span:nth-child(1) {
    top: 12px;
    left: 0px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 12px;
    left: 0px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
